$grey: #999;
$light-grey: #ddd;
$dark-grey: #777;
$black: #111;

* {
    box-sizing: border-box;
}

body {
  color: $black;
  margin: auto;
  padding: 1em;
  font-size: 16px;
  max-width: 980px;
}

h2 {
    font-size: 40px;
    color: $dark-grey;
    margin-top: 0;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

h2 + p:first-letter {
    float: left;
    font-size: 75px;
    color: $grey;
    line-height: 60px;
    padding: 4px 8px 0 3px;
}

h3 {
    font-size: 32px;
    font-variant: small-caps;
    color: $dark-grey;
    margin-top: 1rem;
    margin-bottom: 6px;
}

h4 {
    font-size: 24px;
    font-variant: small-caps;
    color: $dark-grey;
    border-bottom: 2px solid $dark-grey;
    margin-top: 1rem;
    margin-bottom: 2px;
}

p {
    margin: 0;
}

p + p {
    text-indent: 1em;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    caption {
        font-weight: bold;
        font-variant: small-caps;
        text-align: left;
    }
    th {
        font-weight: bold;
        text-align: left;
    }
    th, td {
        padding: 0 4px;
        font-size: 14px;
        line-height: 1.4;
    }
    tbody {
        tr:nth-child(even) {
            background-color: $light-grey;
        }
    }
}

// Tables have a bottom margin equal to the margin we usually leave
// before a heading, so if we end a section with a table, remove that
// extra space.
table + h3, table + h4 {
    margin-top: 0;
}

.blockquote {
    font-style: italic;
    margin-bottom: 1rem;
    p:first-child:first-line {
        font-variant: small-caps;
        font-style: normal;
    }
    .attribution {
        text-align: right;
    }
}

.spell, .magic, .reference, .elvish {
    font-style: italic;
}
