$grey: #999;
$light-grey: #ddd;
$dark-grey: #777;
$black: #111;

* {
    box-sizing: border-box;
}

body {
  color: $black;
  margin: auto;
  padding: 1em;
  font-size: 16px;
  max-width: 980px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-variant: small-caps;
}

h2 + p:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding: 4px 8px 0 3px;
}

h3 {
    font-size: 32px;
    font-variant: small-caps;
    margin-top: 1rem;
    margin-bottom: 6px;
}

h4 {
    font-size: 24px;
    font-variant: small-caps;
    border-bottom: 2px solid $dark-grey;
    margin-bottom: 2px;
}

p {
    margin: 0;
}

p + p {
    text-indent: 1em;
}

.blockquote {
    font-style: italic;
    margin-bottom: 1rem;
    p:first-child:first-line {
        font-variant: small-caps;
        font-style: normal;
    }
    .attribution {
        text-align: right;
    }
}

.spell, .magic, .reference {
    font-style: italic;
}
