---
title: Magic Items
public: false
---
section.flex.tall
  = partial('partials/magic_item', locals: { item: data.items.stumblefoot_amulet })
  = partial('partials/magic_item', locals: { item: data.items.rod_of_fire_absorption })




