---
title: Beyond the Wall Encounters

fire_spirits:
  creatures:
    fire_spirit_weak: 2
  question:
    - Can the PCs investigate the orc spiritual site?
  motivation:
    - The fire spirits are confused and enraged after hobgoblin artificers captured much of the energy of this place and enslaved other spirits. They will lash out at anything that comes within 60 ft. of the center of the holy site, but will not exit that area. They will hide under the seal if necessary to take cover from missile fire.
  battlefield:
    - A 20-ft. radius circle of stone obelisks surrounding a round stone seal carved with pictographs. The seal has been cracked, and a few blackened iron rods have been discarded next to it. All grass and shrubbery within 30 ft. of the seal has been consumed by fire.
---
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.fire_spirits })
