---
title: Orc Diplomacy Encounters

orc_hunters:
  creatures:
    orc_hunter: 2
    orc_bloodhound: 6
  question:
    - Will the PCs help Lokhan escape from the orc hunters?
  motivation:
    - The orcs and their hounds are pursuing an orc outcast. They will fight the PCs only in self defense or if they interfere with their hunt. If the hounds are slain, the hunters will attempt to retreat.
  battlefield:
    - Lokhan is hiding inside a water mill at the top of a small waterfall. The hunters and hounds cross the stream below the waterfall, following his scent. The area has scattered trees.

lokhan:
  creatures:
    lokhan: 1
  question:
    - Will the PCs let Lokhan go? What can they learn from him?
  motivation:
    - Lokhan just wants to go into exile north of the wall to seek his own destiny. He was exiled for criticizing the chief and for his unorthodox beliefs. He believes in a god he calls Karrghed, who judges the weak and rewards the strong, and he believes that Karrghed has judged the white eagle tribe. Lokhan believes chief Ulam and Agrigoth are unambitious cowards.

meeting_with_the_white_eagle:
  creatures:
    orc_chief: 1
    orc_honor_guard: 2
    orc_shaman: 1
  question:
    - Will the PCs be able to make an alliance, or will they take this opportunity to strike down their foes?
  motivation:
    - The orcs are not looking for a fight, but will defend themselves if attacked. They are reluctant to enter an alliance with Rathbaran, do not trust civilized folk, and question whether the PCs have the authority to make one anyway.

random_encounter:
  creatures:
    leucrotta: 2
  question:
    - Can the PCs survive their encounter with these cruel predators?
  motivation:
    - The leucrotta want to torment, kill, and eat the characters. They will flee if reduced to 22 hp or fewer.
  treasure:
    - If the PCs track the leucrotta to their lair, they find 350 gp worth of gems, a <span class="magic">potion of greater healing</span>, a <span class="magic">Heward's handy haversack</span>, and a <span class="magic">Quaal's feather token</span> (fan).

goblin_ambush:
  creatures:
    goblin_scout: 6
    bugbear_scout: 2
  question:
    - Can the PCs survive an ambush by a goblin scouting party?
  motivation:
    - The goblinoids attack only from an advantageous position and try to gain surprise. If the battle starts to turn, they will flee.
  battlefield:
    - The goblinoids attack from the top of a steep ridge (difficult terrain), where the goblins can gain total cover by dropping prone.
  treasure:
    - Between them, the goblinoids have 136 sp.

corrupted_water_spirits:
  creatures:
    water_spirit_corrupted: 2
  question:
    - Can the PCs make it to the tomb of the orc warchief?
  motivation:
    - The spirits attack anything that comes near the mirror of heaven.

polg:
  creatures:
    polg: 1
    orc_hunter: 1
    orc_skirmisher: 3
  question:
    - How will Thargra and her sister react to each other?
  motivation:
    - Polg hates that Thargra has joined the militia and prefers to kill her for honor. Polg will not yield to her sister willingly. She may be swayed by a request for mercy.

hag_coven:
  creatures:
    sea_hag: 3
  question:
    - Do the PCs have anything to bargain for the knowledge they seek?
  motivation:
    - The sea hags are too powerful for the party as a coven, and they know it (see MM p. 176). They know the location and nature of the <span class="magic">headdress of the warchief</span>, and would potentially exchange it for something else of value.
  treasure:
    - The hags also possess as <span class="magic">staff of flowers</span>.

merrow:
  creatures:
    merrow: 3
  question:
    - Can the PCs escape the merrow ambush in the fallen tower?
  motivation:
    - The merrow seek to harpoon a character and drag them into the sea. If they succeed, or drop to 1/3 of their hp, they will retreat. They won't pursue far if the characters retreat on land.
  treasure:
    - The merrow possess a pink pearl worth 100 gp.
---
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.meeting_with_the_white_eagle })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.orc_hunters })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.lokhan })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.random_encounter })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.goblin_ambush })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.corrupted_water_spirits })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.polg })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.merrow })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.hag_coven })
