---
title: Random Encounters

ghostwise_nightgliders:
  creatures:
    ghostwise_nightglider: 4
    giant_owl: 4
  question:
    - Can the PCs learn any useful information from the ghostwise halflings?
  motivation:
    - The ghostwise halflings are distrustful of strangers and know little of the lands south of the wall. They can be won over with gifts or hospitality.

orc_war_band:
  creatures:
    orc_sergeant: 1
    orc_skirmisher: 3
    orc_hunter: 2
  question:
    - Will the PCs fight the orcs or avoid them?
  motivation:
    - The orcs are out looking to loot and pillage. They will not attack a clearly superior force by choice, but they will fight to the death if cornered.
---
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.orc_war_band })
= partial('partials/encounter_worksheet', locals: { encounter: current_page.data.ghostwise_nightgliders })
