---
title: Geography
public: true
---
h2 = current_page.data.title
p
  | The former Zhusan Empire is classically divided into four major geographical regions. Tolmar is the name given to the islands of the eastern sea, including Brachen, where Zhus is located. The northern part of the empire, including the steppes and mountains beyond the wall that were never officially annexed by the empire is known as Forodrain. Enedethir is the heartland of the mainland empire, through which the great river Emlisir flows. The Sorenthai jungle makes up the bulk of the southern region of Harathal. Finally, while the dwarven mountainhomes were technically annexed by the empire, they are traditionally considered part of Uidhor, the unknown lands to the west, beyond the furthest reaches of the empire.

